<a ng-href="#/client/list">CLIENTS</a>&nbsp;|
<a ng-href="#/order/list/{{clientId}}">ORDERS</a>
<h2>Edit Order Items</h2>
<br />
<span class="error" errorkey></span>
<hr />
Client: <b ng-bind="clientName"></b>
<div ng-repeat="row in orderItemRows">
	Product:
	<select ng-model="row.product" ng-options="product.name for product in products">
		<option value="">Select ...</option>
	</select>
	<span class="error" errorkey="{{'orderItems['+ $index + '].productId'}}"></span>
	&nbsp;&nbsp;Count:
	<input ng-model="row.count" />
	<span class="error" errorkey="{{'orderItems['+ $index + '].count'}}"></span>
	&nbsp;&nbsp;Price:
	<input ng-model="row.price" />
	<span class="error" errorkey="{{'orderItems['+ $index + '].price'}}"></span>
	&nbsp;&nbsp;
	<input type="button" ng-click="removeProduct(row)" value="remove" />
</div>
<input type="button" ng-click="addProduct()" value="add" />
<span class="error" errorkey="orderItems"></span>
<hr />
<input type="button" ng-click="onSave()" value="Save" />