<a ng-href="#/client/list">CLIENTS</a>&nbsp;|
<a ng-href="#/order/list/{{clientId}}">ORDERS</a>
<h2>Edit Order (Shipping only)</h2>
<br />
<span class="error" up-error-body></span>
<br />
<table>
	<tr>
		<td>Client</td>
		<td ng-bind="clientName"></td>
	</tr>
	<tr>
		<td>Ship to Country</td>
		<td>
			<input type="text" ng-model="shipCountry" />
			<span class="error" up-error-key="shipCountry" up-error-body></span>
		</td>
	</tr>
	<tr>
		<td>Ship to City</td>
		<td>
			<input type="text" ng-model="shipCity" />
			<span class="error" up-error-key="shipCity" up-error-body></span>
		</td>
	</tr>
	<tr>
		<td>Ship to Zip</td>
		<td>
			<input type="text" ng-model="shipZip" />
			<span class="error" up-error-key="shipZip" up-error-body></span>
		</td>
	</tr>
	<tr>
		<td>Ship to Address</td>
		<td>
			<input type="text" ng-model="shipAddress" />
			<span class="error" up-error-key="shipAddress" up-error-body></span>
		</td>
	</tr>
	<tr>
		<td>Total ($)</td>
		<td>
			<input type="text" ng-model="total" />
			<span class="error" up-error-key="total" up-error-body></span>
		</td>
	</tr>
</table>
<hr />
<input type="button" ng-click="onSave()" value="Save" />