<a ng-href="#/client/list">CLIENTS</a>&nbsp;|
<a ng-href="#/order/list/{{clientId}}">ORDERS</a>
<h2>View Order</h2>
<br />
<span class="error" mainerror></span>
<hr />
<table>
	<tr>
		<td>
			<a ng-href="#/order/edit/{{id}}">Edit</a>
		</td>
		<td></td>
	</tr>
	<tr>
		<td>Client</td>
		<td>
			<b ng-bind="client"></b>
		</td>
	</tr>
	<tr>
		<td>Ship to Country</td>
		<td>
			<b ng-bind="shipCountry"></b>
		</td>
	</tr>
	<tr>
		<td>Ship to City</td>
		<td>
			<b ng-bind="shipCity"></b>
		</td>
	</tr>
	<tr>
		<td>Ship to Zip</td>
		<td>
			<b ng-bind="shipZip"></b>
		</td>
	</tr>
	<tr>
		<td>Ship to Address</td>
		<td>
			<b ng-bind="shipAddress"></b>
		</td>
	</tr>
	<tr>
		<td>Total ($)</td>
		<td>
			<b ng-bind="total"></b>
		</td>
	</tr>
	<tr>
		<td colspan="2"><hr /></td>
	</tr>
	<tr>
		<td>
			<a ng-href="#/order/edititems/{{id}}">Edit</a>
		</td>
		<td></td>
	</tr>
	<tr>
		<td>Products:</td>
		<td>
			<div ng-repeat="row in orderItemRows">
				Product:
				<b ng-bind="row.product"></b>
				&nbsp;&nbsp;Count:
				<b ng-bind="row.count"></b>
				&nbsp;&nbsp;Price:
				<b ng-bind="row.price"></b>
			</div>
		</td>
	</tr>
</table>