<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
    <script type="text/javascript" src="/Resources/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/Resources/js/upida.utils.knockout.js"></script>
    <script type="text/javascript" src="/Resources/js/handlers.js"></script>
    <script type="text/javascript" src="/Resources/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/Resources/js/knockout-2.2.1.js"></script>
    <script type="text/javascript" src="/Resources/js/observableDictionary.js"></script>
    <link href="/Resources/css/style.css" rel="stylesheet"/>
    <script type="text/javascript" src="@string.Concat("/Resources/js/vm/", ViewBag.ViewModel)"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>