@model IList<UpidaExampleStraight.Domain.Client>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/client/create">NEW CLIENT</a>&nbsp;|
	<h2>Clients</h2>
	<hr />
	<table border="1" style="width: 50%;">
	<thead>
		<tr class="head">
			<th>ID</th>
			<th>NAME</th>
			<th colspan="2">ACTIONS</th>
		</tr>
	</thead>
	<tbody>
        @foreach (UpidaExampleStraight.Domain.Client item in this.Model)
        {
		<tr>
			<td>@item.Id</td>
			<td>@item.Name</td>
			<td>
				<a href="/order/index?clientId=@item.Id">Orders</a>
			</td>
			<td>
				<a href="/order/create?clientId=@item.Id">New Order</a>
			</td>
		</tr>
        }
	</tbody>
</table>