<a href="#/client/list">ALL CLIENTS</a>|
<h2>Edit Client</h2>
<span class="error" errorkey></span>
<hr />
<table>
	<tr>
		<td>ID</td>
		<td>
			<span ng-bind="id"></span>
		</td>
	</tr>
	<tr>
		<td>Name</td>
		<td>
			<input type="text" ng-model="name" />
			<span class="error" errorkey="name"></span>
		</td>
	</tr>
	<tr>
		<td>Last name</td>
		<td>
			<input type="text" ng-model="lastname" />
			<span class="error" errorkey="lastname"></span>
		</td>
	</tr>
	<tr>
		<td>Age</td>
		<td>
			<input type="text" ng-model="age" />
			<span class="error" errorkey="age"></span>
		</td>
	</tr>
	<tr>
		<td>Logins</td>
		<td>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Login</th>
						<th>Password</th>
						<th>Enabled</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in loginRows">
						<td>
							<span ng-bind="row.id"></span>
						</td>
						<td>
							<input type="text" ng-model="row.name" />
							<span class="error" errorkey="{{'logins['+ $index + '].name'}}"></span>
						</td>
						<td>
							<input type="text" ng-model="row.password" />
							<span class="error" errorkey="{{'logins['+ $index + '].password'}}"></span>
						</td>
						<td>
							<input type="checkbox" ng-model="row.enabled" />
							<span class="error" errorkey="{{'logins['+ $index + '].enabled'}}"></span>
						</td>
						<td>
							<input type="button" ng-click="onRemoveLoginClick(row)" value="Delete" />
						</td>
					</tr>
				</tbody>
			</table>
			<div style="padding-bottom: 0.5em;">
				<input type="button" ng-click="onAddLoginClick()" value="Add" />
				<span class="error" errorkey="logins"></span>
			</div>
		</td>
	</tr>
</table>
<hr />
<input type="button" ng-click="onSave()" value="Save" />