@model UpidaExampleStraight.Domain.Client

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/client/index">CLIENTS</a>&nbsp;|
<h2>New Client</h2>
<hr />
<br />
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Name</td>
            <td>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
            </tr>
    </table>
    <hr />
    <input type="submit" value="Save" />
}