<a href="#/client/create">NEW CLIENT</a>
<h2>Clients</h2>
<span class="error" mainerror></span>
<hr />
<table border="1" style="width: 50%;">
<thead>
	<tr class="head">
		<th>ID</th>
		<th>NAME</th>
		<th colspan="2">ACTIONS</th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="row in clientRows">
		<td ng-bind="row.id|idtext"></td>
		<td ng-bind="row.name"></td>
		<td>
			<a ng-href="#/order/list/{{row.id}}">Orders</a>
		</td>
		<td>
			<a ng-href="#/order/create/{{row.id}}">New Order</a>
		</td>
	</tr>
</tbody>
</table>