@{
    ViewBag.Title = "Edit Order (Shipping only)";
    ViewBag.ViewModel = "Order/Edit.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a data-bind="attr: {'href': clientsLink}">CLIENTS</a>&nbsp;|
<a data-bind="attr: {'href': indexLink}">ORDERS</a>&nbsp;|
<h2>Edit Order (Shipping only)</h2>
<br />
<table>
	<tr>
		<td>Ship to Country</td>
		<td>
			<input type="text" data-bind="value: shipCountry" />
			<span class="error" data-bind="html: errors.get('shipCountry')"></span>
		</td>
	</tr>
	<tr>
		<td>Ship to City</td>
		<td>
			<input type="text" data-bind="value: shipCity" />
			<span class="error" data-bind="html: errors.get('shipCity')"></span>
		</td>
	</tr>
	<tr>
		<td>Ship to Zip</td>
		<td>
			<input type="text" data-bind="value: shipZip" />
			<span class="error" data-bind="html: errors.get('shipZip')"></span>
		</td>
	</tr>
	<tr>
		<td>Ship to Address</td>
		<td>
			<input type="text" data-bind="value: shipAddress" />
			<span class="error" data-bind="html: errors.get('shipAddress')"></span>
		</td>
	</tr>
	<tr>
		<td>Total ($)</td>
		<td>
			<input type="text" data-bind="value: total" />
			<span class="error" data-bind="html: errors.get('total')"></span>
		</td>
	</tr>
</table>
<hr />
<input type="button" data-bind="click: onSave" value="Save" />