@{
    ViewBag.Title = "Edit Order Items";
    ViewBag.ViewModel = "Order/EditItems.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a data-bind="attr: {'href': clientsLink}">CLIENTS</a>&nbsp;|
<a data-bind="attr: {'href': indexLink}">ORDERS</a>&nbsp;|
<h2>Edit Order Items</h2>
<br />
<!-- ko foreach: orderItemRows -->
Product:
<select data-bind="options: $root.products, value: productId, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select...'"></select>
<span class="error" data-bind="html: $root.errors.get('OrderItems['+ $index() + '].ProductId')"></span>
&nbsp;&nbsp;Count:
<input data-bind="value: count" />
<span class="error" data-bind="html: $root.errors.get('OrderItems['+ $index() + '].Count')"></span>
&nbsp;&nbsp;Price:
<input data-bind="value: price" />
<span class="error" data-bind="html: $root.errors.get('OrderItems['+ $index() + '].Price')"></span>
&nbsp;&nbsp;
<input type="button" data-bind="click: $root.removeProduct" value="remove" />
<br />
<!-- /ko -->
<input type="button" data-bind="click: addProduct" value="add" />
<span class="error" data-bind="html: errors.get('OrderItems')"></span>
<hr />
<input type="button" data-bind="click: onSave" value="Save" />